/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* html {
font-size: 62.5%;
} */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* font-size: 1.6rem;
  font-family: "Open Sans", sans-serif; */
  color: #331d35;
  background-color: #e7e7e7;
}

a {
  color: var(--dark2);
  text-decoration: none;
}

/* --------------------------------

Main Components

-------------------------------- */
.cd-header {
  position: relative;
  height: 150px;
  background-color: #331d35;
}
.cd-header h1 {
  color: #ffffff;
  line-height: 150px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
}
@media only screen and (min-width: 1170px) {
  .cd-header {
    height: 180px;
  }
  .cd-header h1 {
    line-height: 180px;
  }
}

.cd-main-content {
  position: relative;
  min-height: 100vh;
}
.cd-main-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-main-content.is-fixed .cd-tab-filter-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.cd-main-content.is-fixed .cd-gallery {
  padding-top: 76px;
}
.cd-main-content.is-fixed .cd-filter {
  position: fixed;
  height: 100vh;
  overflow: hidden;
}
.cd-main-content.is-fixed .cd-filter form {
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.cd-main-content.is-fixed .cd-filter-trigger {
  position: fixed;
}
@media only screen and (min-width: 768px) {
  .cd-main-content.is-fixed .cd-gallery {
    padding-top: 90px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-main-content.is-fixed .cd-gallery {
    padding-top: 100px;
  }
}
#model-counter {
  margin-right: 20px !important;
  float: center;
}
#selected-counter-display {
  margin-right: 20px !important;
  float: center;
}
#counterPanel {
  /* margin-right: 20px !important; */
  float: center;
}

/* --------------------------------

xgallery

-------------------------------- */
.cd-gallery {
  padding: 26px 5%;
  width: 100%;
}
.cd-gallery li {
  margin-bottom: 1.6em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  display: none;
}

.cd-gallery li.gap {
  /* used in combination with text-align: justify to align gallery elements */
  opacity: 0;
  height: 0;
  display: inline-block;
}
.cd-gallery img {
  display: block;
  background-color: var(--white);
  width: 100%;
}

.cd-gallery .cd-fail-message {
  display: none;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .cd-gallery {
    padding: 40px 3%;
  }
  .cd-gallery ul {
    text-align: justify;
  }
  .cd-gallery ul:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-gallery li {
    width: 48%;
    margin-bottom: 2em;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-gallery {
    padding: 50px 2%;
    float: right;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-gallery li {
    width: 23%;
  }
  .cd-gallery.filter-is-visible {
    /* reduce width when filter is visible */
    /* width: 80%; */
  }
}

/* --------------------------------

gallery

-------------------------------- */

.gallery {
  margin-top:120px;
  margin-bottom:20px;
}

.model-image {
  margin-top: 15px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  /* background-image: url('../img/loading_image.jpg'); */
  width: 100%;
  background-color: white;
  background-position: center;
  aspect-ratio: 1432 / 859;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.model-image img {
  /* background-image: url('../img/loading_image.png'); */
  width: 100%;
  /* aspect-ratio: 16/9; */
  background-color: var(--lightgrey);
  border: 3px solid;
  border-color: var(--grey);
}

/*HOVER FORMAT*/
.model-image img:hover {
  box-shadow: inset 0px 0px 35px 10px var(--white);
  box-sizing: border-box;
  transition: 0.3s;
}

.model-image.selected img {
  /* box-shadow: inset 0px 0px 50px 10px var(--select); */
  box-sizing: border-box;
  transition: 0.3s;
  border-width: inset;
  border: 3px solid;
  background-color: white;
  border-color: var(--applied);
}

/* FORMATING TEXT OVER GALLERY IMAGES */
.a-img {
  text-align: center;
  color: white;
  cursor: pointer;
}

/* top left image */
.top-left {
  position: absolute;
  top: 30px;
  left: 30px;
  object-fit: cover;
  font-size: 150%;
  padding: 5px;
}

.top-left:hover {
  color: var(--midpointSelectApplied);
}

.animate {
  animation : shimmer 2s infinite linear;
  background: linear-gradient(to right, #ffffff 4%, #e2e2e2 25%, #ffffff 36%);
  background-size: 1000px 100%;
}

/* .a-img {
  cursor: pointer;
} */

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

/* --------------------------------

error msg block behavior

-------------------------------- */

.error-msg-block {
  position:fixed;
  text-align:center;
  top: 120px;
  width:100%;
}

#error-msg {
  margin-top: 50px;
  display: inline-block;
  max-width: 70%;
  transition: opacity 0.5s;
  opacity: 0;
}

/* ===== Modal dialog for download ====== */

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background: rgba(0, 0, 0, 0.8); */
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 0ms ease-in;
  -moz-transition: opacity 0ms ease-in;
  transition: opacity 0ms ease-in;
  pointer-events: none;
}

#modal-greeting {
  margin-bottom: 0px !important;
}

.newParagraph {
  margin-top: 15px;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}
.modalDialog > div {
  width: 300px;
  position: relative;
  margin-top: 125px;
  margin-left: auto;
  margin-right: auto;
  /* padding: 20px 20px 13px 20px; */
  border-radius: 8px !important;
  background: #fff;
  /* background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999); */
}

@media only screen and (min-width: 576px) {
  .modalDialog > div {
    width: 500px;
  }
}

.details-text {
  color: #05080B;
  font-weight: 200;
  width:100%;
  height: 200px;
  overflow-y: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'Lucida Console', sans-serif;
  padding:10px;
  border: 1px #c9c9c9 solid;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close:hover {
  background: #00d9ff;
}

.close-button-modal {
  background-color: var(--dark2);
  border: none;
  color: white !important;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px !important;
  border-collapse: separate;
  font-weight: 400;
  margin-top:10px;
  margin-bottom:10px;
  cursor: pointer;
}

.close-button-modal:hover {
  color: white;
  transition: 0.3s;
  background-color: var(--dark2shade);
}

.download-button-modal {
  background-color: var(--light1);
  border: none;
  color: white !important;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px !important;
  border-collapse: separate;
  font-weight: 400;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom:10px;
}

.download-button-modal:hover {
  color: white;
  transition: 0.3s;
  background-color: var(--light1shade); 
  /* text-decoration: underline !important; */
}

.descriptions
{
  float: center;
}

/* FORMAT FOR FEATURES BOX */

.features {
  top: 130px;
  right: 15px;
  width: 135px;
  height: 300px;
  box-shadow: 4px 4px 20px transparent;
  z-index: 1;
  position: fixed;
  /* background-color:rgba(0, 0, 0, 0.1); */
}

.features form {
  height: 100%;
  width: 100%;
  padding: 15px;
  float: right;
}
.spanForIcons {
  background-color: var(--select);
  border-radius: 50%;
  color: var(--applied);
  cursor: pointer;
  float: right;
  margin: 5px;
  z-index: 1;
  height: 80px;
  width: 80px;
}

.featuresIcons {
  font-size: 40px;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
  /* border: 2px solid black; */
}

@media only screen and (min-width: 400px) {
  .spanForIcons:hover {
    color: var(--select);
    background-color: var(--applied);
  }
}

.applied {
    color: var(--select);
    background-color: var(--applied);
}

.fa-square-check {
  padding-left: 22.5px;
  padding-right: 22.5px;
}

#selected-counter {
  float: right;
  right: 0px;
  margin-left: 31px;
  margin-top: 2px;
  color: white;
  z-index: 2;
  text-shadow: 2px 2px 5px black;
}

@-webkit-keyframes animateBucket {  
  0% { 
    background-color: var(--select);
    color: var(--applied);
  }
  50% {
    background-color: var(--applied);
    color: var(--select);
  }
  100% {
    background-color: var(--select);
    color: var(--applied);
  }
}

.spanForIcons.selected {
  /* color: var(--select); */
  -webkit-animation-name: animateBucket;
  -webkit-animation-iteration-count: 1;  
  -webkit-animation-duration: 0.75s; 
} 

.fa-box-archive {
  height: 80px;
  width: 80px;
}

.closeAllButton {
  border: 2px solid var(--grey);
  float: right;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.closeAllButton:hover .returnToGalleryButton:hover{
  background-color: #ebebeb;
}

.returnToGalleryButton {
  border: 2px solid grey;
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
}

/* ATTEMPT AT OVERLAY FOR DETAILS  */

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 99998;
  cursor: pointer;
}

#safeOfOverlayClick {
  padding: 20px 20px 20px 20px;
  cursor: default;
}

/* styling for confirm box */

#confirmBox
{
  display: none;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #aaa;
  position: fixed;
  width: 300px;
  top: 300px;
  left: 50%;
  margin-left: -150px;
  padding: 8px 10px 10px;
  box-sizing: border-box;
  text-align: center;
  z-index: 2;
}
#confirmBox .button {
  background-color: #ccc;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #aaa;
  padding: 2px;
  text-align: center;
  width: 80px;
  cursor: pointer;
}
#confirmBox .button:hover
{
  background-color: #ddd;
}
#confirmBox .message
{
  text-align: center;
  margin-bottom: 8px;
}

.cannotSelect
{
  cursor: not-allowed;
  color: var(--applied);
  background-color: var(--select)
}