#documentation {
    /* padding-top: 50px; */
    padding-bottom: 50px;
}

p {
    text-align: justify;
}

.main-content {
    position: relative;
    min-height: 75vh;
    height: auto;
}

body {
    background-color: #e7e7e7;
}

.centerBox {
    box-shadow: 0px 0px 2px var(--black);
    background-color: white;
    position: relative;
    width: 95%;
    height: 65%;
    height: auto;
    padding: 20px;
    margin: 2%;
}

h1 {
    font-size: 2rem;
    text-align: center;
    /* word-wrap: break-word; */
}

h2 {
    font-size: 1.75rem;
    margin-top: 30px;
    /* margin-bottom: 10px; */
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

.tab {
    display: block;
    margin-left: 40px;
}

.toTop {
    float: right;
    margin-left: 0px;
    margin-right: 40px;
}

a {
    color: var(--light1);
}

.tOC {
    margin-top: 30px;
    margin-bottom: 10px;
}

.tOC form {
    padding: 15px;
    position: fixed;
}

@media screen and (max-width: 1200px) {
    .tOC form {
        position: relative;
    }
}

img {
    height: 100%;
    width: 100%;
    max-width: 750px;
    max-height: 750px;
    object-fit: contain;
    margin-bottom: 10px;
    position: relative;
    display: block;
}

.column {
    float: left;
    width: 50%;
    padding: 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* FORMATTING FOR ICONS */

.spanForIcons {
    background-color: var(--select);
    border-radius: 50%;
    color: var(--applied);
    cursor: pointer;
    margin: 5px;
    height: 80px;
    width: 80px;
}

.featuresIcons {
    font-size: 40px;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    /* border: 2px solid black; */
}

@media only screen and (min-width: 767px) {
    .spanForIcons:hover {
        color: var(--select);
        background-color: var(--applied);
    }
}

.fa-square-check {
    padding-left: 22.5px;
    padding-right: 22.5px;
  }