:root {
  --background_lightgrey: #f9f9f9;
  --border_darker_grey: #dedede;
}

body {
  background-color: var(--background_lightgrey);
}

.share-main {
  position: relative;
  min-height: 75vh;
  height: auto;
}

.tab_in_modal {
  border-radius: 0;
}

#tab_for_modal {
  border-radius: 0;
}

#tab_container {
  width: fit-content;
  height: fit-content;
  display: inline-block;
}

#goToGallery {
  float: right;
  display: inline;
  font-size: 20px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  margin-top: 3.75px;
  margin-right: 3.75px;
  border-radius: 8px;
  cursor: pointer;
}


#displayedModel {
  background-color: white;
  position: relative;
  width: 100%;
  height: 65%;
  height: auto;
  padding: 20px;
  margin: 0;
}

#whenModelsSelected {
  border-width: 3px;
  border-style: solid;
  border-color: var(--border_darker_grey);
  background-color: white;
  position: relative;
  width: 95%;
  height: 65%;
  height: auto;
  padding: 20px;
  margin: 2%;
}

.centerBox {
  border-width: 3px;
  border-style: solid;
  border-color: var(--border_darker_grey);
  width: 95%;
  background-color: white;
  margin: 2%;
}

.imgContainer {
    height: 50%;
    max-height: 450px;
    width: 50%;
    object-fit: contain;
    margin: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


table {
    font-family: "Poppins", sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  @media screen and (max-width: 576px) {
    table {
      font-size: 4vw;
    }

    /* .buttonDownload {
      font-size: 4vw;
      padding: 2vw !important;
      margin-bottom: 2vw !important;
    } */
  }
  
  td, th {
    border: 2px solid var(--darkgrey);
    text-align: left;
    padding: 8px;
  }

  .tdClear {
    border: 0px;
    padding: 0px;
  }
  
  tr:nth-child(even) {
    background-color: var(--grey);
  }
  
  /* .buttonDownload {
    border: 2px solid var(--grey);
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    display: block;
  }

  .buttonDownload:hover{
    background-color: var(--darkgrey);
  } */

  .noStyle {
    color: var(--black);
  }

  .noStyle:hover {
    color: var(--black);
    text-decoration: none;
  }
  
  .features {
    position: absolute;
    top: calc(4vw + 50px);
    right: 5px;
    width: auto;
    height: auto;
    border: none;
    background: transparent;
  }

  h1 {
    font-weight: normal;
    font-size: 4vw;
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header_results {
    font-size: 5vw;
    display: inline-block;
    padding-right: 25px;
  }

  .select_dropdown {
    font-size: 3vw;
    padding: 7px;
  }

  #modal_simResults_dropdown {
    text-align: center;
    padding-top: 25px;
  }

  .titleForTableModels {
    padding-bottom: 2%;
  }

  #downloadModel {
    text-align: center;
    color: var(--dark2);
    font-size: 3.75vw;
    cursor: pointer;
  }

  #downloadModel.viewingSim
  {
    font-size: 3vw;
  }

  #downloadModel:hover {
    color: var(--dark3);
  }

  .h2_download_button {
    padding-right: 15px;
    display: inline;
  }

  .icon_download_button {
    display: inline;
  }


  @media screen and (min-width: 1500px) {
    h1, .header_results {
      font-size: 65px;
    }

    .select_dropdown {
      font-size: 45px;
    }

    #downloadModel {
      font-size: 40px;
    }

    #downloadModel.viewingSim {
      font-size: 30px;
    }

  }

  @media screen and (max-width: 1000px) {
    h1 {
        font-size: 6vw;
      }
  }

  .spanForIcons {
    border-radius: 0%;
    background-color: var(--grey);
    color: var(--darkdarkgrey);
    border: 2px solid var(--darkgrey);
  }

  .spanForIcons:hover {
    border-radius: 0%;
    background-color: var(--darkdarkgrey) ;
    color: var(--grey);
    border: 2px solid var(--darkgrey);
  }

  .featuresIcons {
    padding: 0px;
    float: none;
  }

  .centerIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modelRow:hover {
    background-color: var(--darkgrey);
    cursor: pointer;
  }

  .iconRow {
    background-color: transparent !important;
  }

  #helpIndiv, #helpTable {
    margin-right: 15px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  #helpIndiv{
    float: left;
    width: fit-content;
    position: relative;
    z-index: 10;
  }

  .hide {
    display: none;
    opacity: 0;
    padding: 0px;
    margin: 0px;
    height: 0px;
    width: 0px;
    border: none;
  }

  .show {
    display: block;
    opacity: 1;
  }
