#documentation {
    /* padding-top: 50px; */
    padding-bottom: 50px;
}

p {
    text-align: justify;
}

.main-content {
    position: relative;
    min-height: 75vh;
    height: auto;
}

body {
    background-color: #e7e7e7;
}

.centerBox {
    box-shadow: 0px 0px 2px var(--black);
    background-color: white;
    position: relative;
    width: 95%;
    height: 65%;
    height: auto;
    padding: 5%;
    margin: 2%;
}

@media screen and (min-width: 800px) {
    .centerBox {
        padding: 40px;
    }
}

@media screen and (max-width: 600px) {
    .centerBox {
        padding: 30px;
    }
}

h1 {
    font-size: 2rem;
    text-align: center;
    /* word-wrap: break-word; */
}

h2 {
    font-size: 1.75rem;
    margin-top: 30px;
    /* margin-bottom: 10px; */
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

.tab {
    display: block;
    margin-left: 40px;
}

.toTop {
    float: right;
    margin-left: 0px;
    margin-right: 40px;
}

a {
    color: var(--light1);
}

.tOC {
    margin-top: 30px;
    margin-bottom: 10px;
}

.tOC form {
    padding: 15px;
    position: fixed;
}

@media screen and (max-width: 1200px) {
    .tOC form {
        position: relative;
    }
}

img {
    height: 100%;
    width: 100%;
    max-width: 750px;
    max-height: 750px;
    object-fit: contain;
    margin-bottom: 10px;
    position: relative;
    display: block;
}

.column {
    float: left;
    width: 50%;
    padding: 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* FORMATTING FOR ICONS */

.spanForIcons {
    background-color: var(--select);
    border-radius: 50%;
    color: var(--applied);
    cursor: pointer;
    margin: 5px;
    height: 80px;
    width: 80px;
}

.featuresIcons {
    font-size: 40px;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    /* border: 2px solid black; */
}

@media only screen and (min-width: 767px) {
    .spanForIcons:hover {
        color: var(--select);
        background-color: var(--applied);
    }
}

.fa-square-check {
    padding-left: 22.5px;
    padding-right: 22.5px;
  }

  ul, li {
    list-style-type: none;
  }

  /* menu */

.accordion {
	margin: auto;
	width: 100%;
}
.accordion input {
	display: none;
}
.box {
	position: relative;
	background: white;
    height: 64px;
    transition: all .15s ease-in-out;
}
.box::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
header.box {
	background: #00BCD4;
	z-index: 100;
	cursor: initial;
	box-shadow: 0 -1px 0 #e5e5e5,0 0 2px -2px rgba(0,0,0,.12),0 2px 4px -4px rgba(0,0,0,.24);
}
header .box-title {
	margin: 0;
	font-weight: normal;
	font-size: 16pt;
	color: white;
	cursor: initial;
}
.box-title {
	width: calc(100% - 40px);
	height: 64px;
	line-height: 64px;
	padding: 0 20px;
	display: inline-block;
	cursor: pointer;
	-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}
.box-content {
	width: calc(100% - 40px);
	padding: 10px 20px 15px 20px;
	font-size: 11pt;
	color: rgba(0,0,0,.54);
	display: none;
}
.box-close {
	position: absolute;
	height: 64px;
	width: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
}
input:checked + .box {
	height: auto;
	margin: 16px 0;
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
input:checked + .box .box-title {
	border-bottom: 1px solid rgba(0,0,0,.18);
}
input:checked + .box .box-content,
input:checked + .box .box-close {
	display: inline-block;
}
.arrows section .box-title {
	padding-left: 44px;
	width: calc(100% - 64px);
}
.arrows section .box-title:before {
	position: absolute;
	display: block;
	content: '\203a';
	font-size: 18pt;
	left: 20px;
	top: -2px;
	transition: transform .15s ease-in-out;
	color: rgba(0,0,0,.54);
}
input:checked + section.box .box-title:before {
	transform: rotate(90deg);
}
